.bg-theme {
  background-color:darkorchid
}
.cart_icon{
  font-size: 2rem;
}

.hero-background{
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-warning{
  padding:1px 55px;
}

.hero-background1{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.About-background{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}